<header class="px-4">
  <div
    class="px-4 py-3 md:py-4 flex flex-row justify-between items-center relative"
  >
    <!-- menu -->
    <div class="md:hidden" appClickOutside (clickOutside)="closeDropdown()">
      <button type="button" (click)="toggleDropdown()">
        <i class="fa-solid fa-bars text-2xl"></i>
      </button>
      <div
        class="absolute pt-2 bg-zinc-900 left-3 right-3 top-[103%] z-20 h-auto overflow-y-auto"
        *ngIf="isOpenMenu"
      >
        <ul class="px-2 pt-2 pb-3 lg:px-3">
          <li class="">
            <a
              href="#"
              class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-zinc-700 capitalize"
              >JoyX</a
            >
          </li>
          <li class="">
            <a
              href="#"
              class="flex items-center text px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white"
              (click)="toggleType()"
              >Thể Loại <i class="fa-solid fa-chevron-down ml-2 text-xs"></i>
            </a>
            <div
              class="ml-4 grid grid-cols-2 gap-2 transition ease-linear duration-300 transform"
              *ngIf="isOpenType"
            >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
            </div>
          </li>
          <li class="">
            <a
              href="#"
              class="flex items-center px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white"
              (click)="toggleCountry()"
              >Quốc Gia <i class="fa-solid fa-chevron-down ml-2 text-xs"></i>
            </a>
            <div
              class="ml-4 grid grid-cols-2 gap-2 transition ease-linear duration-300 transform"
              *ngIf="isOpenCountry"
            >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 bg-zinc-700 hover:text-white hover:bg-zinc-700"
                >Hành Động</a
              >
            </div>
          </li>
          <li class="">
            <a
              href="#"
              class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-zinc-700 capitalize"
              >Phim Mới</a
            >
          </li>
          <li class="">
            <a
              href="#"
              class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-zinc-700 capitalize"
              >Phim Bộ</a
            >
          </li>
          <li class="">
            <a
              href="#"
              class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-zinc-700 capitalize"
              >Phim Lẻ</a
            >
          </li>
          <li class="">
            <a
              href="#"
              class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-zinc-700 capitalize"
              >Phim Chiếp Rạp</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="text-2xl">JoyX</div>
    <!-- input -->
    <app-input-search class="hidden md:block" />
    <div class="flex flex-row items-center gap-x-3">
      <button
        type="button"
        class="flex items-center md:hidden"
        (click)="toogleInput()"
      >
        <div *ngIf="!isOpenInput" class="flex items-center">
          <i class="fa-solid fa-magnifying-glass text-[24px]"></i>
        </div>
        <div *ngIf="isOpenInput" class="flex items-center">
          <i class="fa-solid fa-xmark text-[28px]"></i>
        </div>
      </button>
      <!-- button login -->
      <a href="#" class="flex items-center">
        <i class="fa-regular fa-circle-user text-[28px]"></i>
      </a>
      <!-- if you login avatar is show -->
      <div
        class="relative hidden"
        data-twe-dropdown-ref
        data-twe-dropdown-alignment="end"
      >
        <!-- Second dropdown trigger -->
        <a
          class="flex items-center whitespace-nowrap transition duration-150 ease-in-out motion-reduce:transition-none"
          href="#"
          id="dropdownMenuButton2"
          role="button"
          data-twe-dropdown-toggle-ref
          aria-expanded="false"
        >
          <!-- User avatar -->
          <img
            src="https://tecdn.b-cdn.net/img/new/avatars/2.jpg"
            class="rounded-full md:w-10 md:h-10 w-7 h-7"
            alt=""
            loading="lazy"
          />
        </a>
        <!-- Second dropdown menu -->
        <ul
          class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg data-[twe-dropdown-show]:block dark:bg-surface-dark"
          aria-labelledby="dropdownMenuButton2"
          data-twe-dropdown-menu-ref
        >
          <!-- Second dropdown menu items -->
          <li>
            <p
              class="block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-neutral-700"
              href="#"
              data-twe-dropdown-item-ref
            >
              Admin
            </p>
          </li>
          <hr class="border-custom-color-primary" />
          <li>
            <a
              class="block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
              href="#"
              data-twe-dropdown-item-ref
              >Thông tin</a
            >
          </li>
          <li>
            <a
              class="block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
              href="#"
              data-twe-dropdown-item-ref
              >Phim yêu thích</a
            >
          </li>
          <li>
            <a
              class="block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
              href="#"
              data-twe-dropdown-item-ref
              >Đăng xuất</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr
    class="h-0.5 border-custom-color-primary opacity-30"
    *ngIf="!isOpenInput"
  />
  <!-- input < md -->
  <app-input-search class="z-50 block md:hidden w-full" *ngIf="isOpenInput" />
  <!-- part2 -->
  <div class="hidden md:block max-w-full">
    <div class="flex py-3 px-4">
      <div class="py-2 pr-3 hover:text-custom-color-primary cursor-pointer">
        Trang chủ
      </div>
      <!-- dropdown the loai -->
      <div class="relative" data-twe-dropdown-ref>
        <a
          class="flex items-center py-2 px-3 transition duration-75 ease-in-out hover:text-custom-color-primary hover:shadow-primary-2 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
          href="#"
          type="button"
          id="dropdownMenuButton2"
          data-twe-dropdown-toggle-ref
          aria-expanded="false"
          data-twe-ripple-init
          data-twe-ripple-color="light"
        >
          Thể Loại
          <span class="ms-2 w-2 [&>svg]:h-5 [&>svg]:w-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
        </a>
        <ul
          class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-base shadow-lg data-[twe-dropdown-show]:block dark:bg-surface-dark"
          aria-labelledby="dropdownMenuButton2"
          data-twe-dropdown-menu-ref
        >
          <div class="grid grid-cols-4">
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Hành Động</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Cổ Trang</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Chiến Tranh</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Viễn Tưởng</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Kinh Dị</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Tài Liệu</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Bí Ẩn</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Phim 18+</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Tình Cảm</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Tâm Lý</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Thể Thao</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Phiêu Lưu</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Võ Thuật</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Khoa Học</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Thần Thoại</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Chính Kịch</a
              >
            </li>
          </div>
        </ul>
      </div>
      <!-- dropdown quoc gia -->
      <div class="relative" data-twe-dropdown-ref>
        <a
          class="flex items-center py-2 px-3 transition duration-75 ease-in-out hover:text-custom-color-primary hover:shadow-primary-2 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
          href="#"
          type="button"
          id="dropdownMenuButton2"
          data-twe-dropdown-toggle-ref
          aria-expanded="false"
          data-twe-ripple-init
          data-twe-ripple-color="light"
        >
          Quốc Gia
          <span class="ms-2 w-2 [&>svg]:h-5 [&>svg]:w-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
        </a>
        <ul
          class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-base shadow-lg data-[twe-dropdown-show]:block dark:bg-surface-dark"
          aria-labelledby="dropdownMenuButton2"
          data-twe-dropdown-menu-ref
        >
          <div class="grid grid-cols-4">
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Trung Quốc</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Thái Lan</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Hồng Kong</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Hàn Quốc</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Âu Mỹ</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Ấn Độ</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Canada</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Nhật Bản</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Đài Loan</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Anh Nga</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Ý</a
              >
            </li>
            <li class="">
              <a
                class="block w-full whitespace-nowrap bg-white p-4 text-sm font-normal text-neutral-700 hover:text-custom-color-primary hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="#"
                data-twe-dropdown-item-ref
                >Quốc Gia Khác</a
              >
            </li>
          </div>
        </ul>
      </div>
      <div class="py-2 px-3 hover:text-custom-color-primary cursor-pointer">
        Phim Mới
      </div>
      <div class="py-2 px-3 hover:text-custom-color-primary cursor-pointer">
        Phim Bộ
      </div>
      <div class="py-2 px-3 hover:text-custom-color-primary cursor-pointer">
        Phim Lẻ
      </div>
      <div class="py-2 px-3 hover:text-custom-color-primary cursor-pointer">
        Phim Chiếu Rạp
      </div>
      <div class="py-2 px-3 hover:text-custom-color-primary cursor-pointer">
        Trailer
      </div>
      <div class="py-2 px-3 hover:text-custom-color-primary cursor-pointer">
        Năm Phát Hành
      </div>
    </div>
    <hr class="h-0.5 border-custom-color-primary opacity-30" />
  </div>
</header>
