<div
  class="fixed left-0 right-0 z-50 items-center justify-center overflow-x-hidden overflow-y-auto top-4 md:inset-0 h-modal sm:h-full flex bg-[#0B0F17]/70"
  aria-modal="true"
  role="dialog"
>
  <div
    *ngIf="episode$ | async as episode"
    class="relative w-[90%] md:w-full h-[90%] max-w-2xl px-4 md:h-auto bg-[#11171E]"
  >
    <!-- Modal content -->
    <form
      [formGroup]="formEditEpisode"
      (ngSubmit)="onSubmitEditEpisode(episode?.data?.episodeId)"
    >
      <div class="relative rounded-lg shadow">
        <!-- Modal header -->
        <div
          class="flex items-start justify-between p-5 border-b rounded-t dark:border-gray-700"
        >
          <h3 class="text-xl font-semibold">Add New Episode</h3>
          <button
            (click)="triggerToggleModalEditEpisode()"
            type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-700 dark:hover:text-white"
          >
            <svg
              class="w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
        </div>
        <!-- Modal body -->
        <div class="p-6 space-y-6 h-[65vh] overflow-auto">
          <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
              <label
                for="name"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Name</label
              >
              <input
                formControlName="Name"
                type="text"
                name="name"
                id="name"
                class="shadow-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="1"
                required=""
              />
              <!-- Hiển thị thông báo lỗi -->
              <div
                *ngIf="
                  formEditEpisode.controls['Name'].invalid &&
                  formEditEpisode.controls['Name'].touched
                "
                class="text-red-600 text-sm mt-1"
              >
                <span
                  *ngIf="formEditEpisode.controls['Name'].errors?.['required']"
                  >Name is required.</span
                >
                <!-- <span *ngIf="formEditEpisode.controls['Name'].errors?.['pattern']">
                  Name must be a number or the word "Full" (case-insensitive).
                </span> -->
              </div>
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label
                for="lug"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Slug</label
              >
              <input
                formControlName="Slug"
                type="text"
                name="slug"
                id="slug"
                class="shadow-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="Gã Hề"
                required=""
              />
              <!-- Hiển thị thông báo lỗi -->
              <div
                *ngIf="
                  formEditEpisode.controls['Slug'].invalid &&
                  formEditEpisode.controls['Slug'].touched
                "
                class="text-red-600 text-sm mt-1"
              >
                <span
                  *ngIf="formEditEpisode.controls['Slug'].errors?.['required']"
                  >Slug is required.</span
                >
                <!-- <span *ngIf="formEditEpisode.controls['Slug'].errors?.['pattern']">
                  Slug must be a number or the word "Full" (case-insensitive).
                </span> -->
              </div>
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label
                for="episode_name"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Episode Name</label
              >
              <input
                formControlName="EpisodeName"
                type="text"
                name="episode_name"
                id="episode_name"
                class="shadow-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="Gã Hề 1"
                required=""
              />
              <!-- Hiển thị thông báo lỗi -->
              <div
                *ngIf="
                  formEditEpisode.controls['EpisodeName'].invalid &&
                  formEditEpisode.controls['EpisodeName'].touched
                "
                class="text-red-600 text-sm mt-1"
              >
                <span
                  *ngIf="formEditEpisode.controls['EpisodeName'].errors?.['required']"
                  >EpisodeName is required.</span
                >
              </div>
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label
                for="link-embed-1"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Link Embed 1</label
              >
              <input
                formControlName="LinkEmbed_1"
                type="text"
                name="link-embed-1"
                id="link-embed-1"
                class="shadow-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="https://vip.opstream13.com/share/a35fe7f7fe8217b4369a0af4244d1fca"
                required=""
              />
              <!-- Hiển thị thông báo lỗi -->
              <div
                *ngIf="
                  formEditEpisode.controls['LinkEmbed_1'].invalid &&
                  formEditEpisode.controls['LinkEmbed_1'].touched
                "
                class="text-red-600 text-sm mt-1"
              >
                <span
                  *ngIf="formEditEpisode.controls['LinkEmbed_1'].errors?.['required']"
                  >LinkEmbed_1 is required.</span
                >
              </div>
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label
                for="link-embed-2"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Link Embed 2</label
              >
              <input
                formControlName="LinkEmbed_2"
                type="text"
                name="link-embed-2"
                id="link-embed-2"
                class="shadow-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="https://vip.opstream13.com/share/a35fe7f7fe8217b4369a0af4244d1fca"
              />
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="items-center p-6 border-t border-gray-200 rounded-b">
          <button
            handle
            class="text-white bg-blue-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
            type="submit"
          >
            Edit
          </button>
          <button
            (click)="handleToggleModeDelete()"
            type="button"
            class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-red-700 rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
          >
            Delete
          </button>
          <!-- modal delete -->
          <div
            *ngIf="isOpenModalDelete"
            tabindex="-1"
            class="flex justify-center items-center overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50  w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
          >
            <div class="relative p-4 w-full max-w-md max-h-full">
              <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <button
                (click)="handleToggleModeDelete()"
                  type="button"
                  class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                  data-modal-hide="popup-modal"
                >
                  <svg
                    class="w-3 h-3"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 14"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                    />
                  </svg>
                  <span class="sr-only">Close modal</span>
                </button>
                <div class="p-4 md:p-5 text-center">
                  <svg
                    class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 20"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                    />
                  </svg>
                  <h3
                    class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400"
                  >
                    Are you sure you want to delete this episode?
                  </h3>
                  <button
                  (click)="handleDeleteEpisode(episode?.data?.episodeId)"
                    data-modal-hide="popup-modal"
                    type="button"
                    class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
                  >
                    Yes, I'm sure
                  </button>
                  <button
                  (click)="handleToggleModeDelete()"
                    data-modal-hide="popup-modal"
                    type="button"
                    class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                  >
                    No, cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
