<form class="lg:pr-3" action="#" method="GET">
  <label for="users-search" class="sr-only">Search</label>
  <div class="relative mt-1 lg:w-64 xl:w-96">
    <input
      type="text"
      name="email"
      id="users-search"
      class="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-primary-500 dark:focus:border-primary-500"
      placeholder="Search for users"
    />
  </div>
</form>