<div class="py-2">
  <nav
  class="flex px-3 py-2 text-gray-700 border rounded-md bg-[#181818] border-zinc-900 shadow-lg shadow-black/20 truncate"
  aria-label="Breadcrumb"
>
  <ol class="inline-flex flex-wrap items-center space-x-1 md:space-x-3">
    <!--[-->
    <li class="inline-flex items-center">
      <a
        title="JoyX"
        href="/"
        class="inline-flex items-center text-sm font-medium text-zinc-400 hover:text-[#d98a5e] whitespace-nowrap"
        ><svg
          aria-hidden="true"
          class="w-4 h-4 mr-2"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
          ></path>
        </svg>
        JoyX</a
      >
    </li>
    <li class="inline-flex items-center">
      <span
        class="inline-flex items-center text-sm font-medium text-gray-200 hover:text-white whitespace-nowrap"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-4 h-4 mr-2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 4.5l7.5 7.5-7.5 7.5"
          ></path>
        </svg>
        Đăng Nhập</span
      >
    </li>
    <!--]-->
  </ol>
</nav>
</div>
