<div class="pt-6">
    <span
      class="uppercase font-medium text-gray-200 text-md border-b border-zinc-800 w-full block pb-2 mb-2"
      >Phim Sắp Chiếu</span
    >
    <div class="pt-6 scale-105">
      <a
        href="#"
        class="flex h-full border-zinc-800 border p-2 rounded-sm gap-2 group"
      >
        <div class="basis-2/5 h-24 flicking-camera">
          <img
            src="https://image.motchilltv.to/motchill/begins-youth-x350.webp"
            alt=""
            class="w-full h-full object-cover object-center rounded-md"
          />
        </div>
        <div class="basis-3/5 truncate">
          <span class="text-gray-300 text-[14px] truncate font-medium"
            >Begin Youth</span
          >
          <span class="text-zinc-300 text-sm block font-medium"
            >2024</span
          >
          <div>
            <i class="fa-solid fa-star"></i>
            <span class="text-sm font-medium text-zinc-400">7.6</span>
          </div>
        </div>
      </a>
      <a
        href="#"
        class="flex h-full border-zinc-800 border p-2 rounded-sm gap-2 group"
      >
        <div class="basis-2/5 h-24 flicking-camera">
          <img
            src="https://image.motchilltv.to/motchill/begins-youth-x350.webp"
            alt=""
            class="w-full h-full object-cover object-center rounded-md"
          />
        </div>
        <div class="basis-3/5 truncate">
          <span class="text-gray-300 text-[14px] truncate font-medium"
            >Begin Youth</span
          >
          <span class="text-zinc-300 text-sm block font-medium"
            >2024</span
          >
          <div>
            <i class="fa-solid fa-star"></i>
            <span class="text-sm font-medium text-zinc-400">7.6</span>
          </div>
        </div> </a
      ><a
        href="#"
        class="flex h-full border-zinc-800 border p-2 rounded-sm gap-2 group"
      >
        <div class="basis-2/5 h-24 flicking-camera">
          <img
            src="https://image.motchilltv.to/motchill/begins-youth-x350.webp"
            alt=""
            class="w-full h-full object-cover object-center rounded-md"
          />
        </div>
        <div class="basis-3/5 truncate">
          <span class="text-gray-300 text-[14px] truncate font-medium"
            >Begin Youth</span
          >
          <span class="text-zinc-300 text-sm block font-medium"
            >2024</span
          >
          <div>
            <i class="fa-solid fa-star"></i>
            <span class="text-sm font-medium text-zinc-400">7.6</span>
          </div>
        </div> </a
      ><a
        href="#"
        class="flex h-full border-zinc-800 border p-2 rounded-sm gap-2 group"
      >
        <div class="basis-2/5 h-24 flicking-camera">
          <img
            src="https://image.motchilltv.to/motchill/begins-youth-x350.webp"
            alt=""
            class="w-full h-full object-cover object-center rounded-md"
          />
        </div>
        <div class="basis-3/5 truncate">
          <span class="text-gray-300 text-[14px] truncate font-medium"
            >Begin Youth</span
          >
          <span class="text-zinc-300 text-sm block font-medium"
            >2024</span
          >
          <div>
            <i class="fa-solid fa-star"></i>
            <span class="text-sm font-medium text-zinc-400">7.6</span>
          </div>
        </div> </a
      ><a
        href="#"
        class="flex h-full border-zinc-800 border p-2 rounded-sm gap-2 group"
      >
        <div class="basis-2/5 h-24 flicking-camera">
          <img
            src="https://image.motchilltv.to/motchill/begins-youth-x350.webp"
            alt=""
            class="w-full h-full object-cover object-center rounded-md"
          />
        </div>
        <div class="basis-3/5 truncate">
          <span class="text-gray-300 text-[14px] truncate font-medium"
            >Begin Youth</span
          >
          <span class="text-zinc-300 text-sm block font-medium"
            >2024</span
          >
          <div>
            <i class="fa-solid fa-star"></i>
            <span class="text-sm font-medium text-zinc-400">7.6</span>
          </div>
        </div> </a
      ><a
        href="#"
        class="flex h-full border-zinc-800 border p-2 rounded-sm gap-2 group"
      >
        <div class="basis-2/5 h-24 flicking-camera">
          <img
            src="https://image.motchilltv.to/motchill/begins-youth-x350.webp"
            alt=""
            class="w-full h-full object-cover object-center rounded-md"
          />
        </div>
        <div class="basis-3/5 truncate">
          <span class="text-gray-300 text-[14px] truncate font-medium"
            >Begin Youth</span
          >
          <span class="text-zinc-300 text-sm block font-medium"
            >2024</span
          >
          <div>
            <i class="fa-solid fa-star"></i>
            <span class="text-sm font-medium text-zinc-400">7.6</span>
          </div>
        </div> </a
      ><a
        href="#"
        class="flex h-full border-zinc-800 border p-2 rounded-sm gap-2 group"
      >
        <div class="basis-2/5 h-24 flicking-camera">
          <img
            src="https://image.motchilltv.to/motchill/begins-youth-x350.webp"
            alt=""
            class="w-full h-full object-cover object-center rounded-md"
          />
        </div>
        <div class="basis-3/5 truncate">
          <span class="text-gray-300 text-[14px] truncate font-medium"
            >Begin Youth</span
          >
          <span class="text-zinc-300 text-sm block font-medium"
            >2024</span
          >
          <div>
            <i class="fa-solid fa-star"></i>
            <span class="text-sm font-medium text-zinc-400">7.6</span>
          </div>
        </div> </a
      >
    </div>
  </div>