<footer class="pt-3">
  <div class="px-2 border border-zinc-800 bg-black">
    <div class="flex flex-col md:flex-row px-4 py-10 gap-y-6">
      <div class="basis-1/4">
        <div class="text-3xl text-center md:text-left">JOYX</div>
        <p class="text-sm pt-3 text-white">
          <a href="#" class="text-custom-color-primary">JoyX</a> - Trang web xem
          phim trực tuyến miễn phí chất lượng cao với giao diện trực quan, tốc
          độ tải trang nhanh, cùng kho phim với hơn 10.000+ phim mới, phim hay,
          luôn cập nhật phim nhanh, hứa hẹn sẽ đem lại phút giây thư giãn cho
          bạn.
        </p>
      </div>
      <div class="md:basis-3/4 flex flex-col text-center gap-y-6 md:flex-row md:justify-around">
        <div>
          <p class="uppercase text-white">Danh Mục</p>
          <ul class="pt-2">
            <li>
              <a href="#" class="text-sm hover:text-custom-color-primary"
                >Phim Mới</a
              >
            </li>
            <li>
              <a href="#" class="text-sm hover:text-custom-color-primary"
                >Phim Chiếu Rạp</a
              >
            </li>
            <li>
              <a href="#" class="text-sm hover:text-custom-color-primary"
                >Phim Bộ</a
              >
            </li>
            <li>
              <a href="#" class="text-sm hover:text-custom-color-primary"
                >Phim Lẻ</a
              >
            </li>
          </ul>
        </div>
        <div>
          <p class="uppercase text-white">Thể Loại</p>
          <ul class="pt-2">
            <li>
              <a href="#" class="text-sm hover:text-custom-color-primary"
                >Cổ Trang</a
              >
            </li>
            <li>
              <a href="#" class="text-sm hover:text-custom-color-primary"
                >Đam Mỹ</a
              >
            </li>
            <li>
              <a href="#" class="text-sm hover:text-custom-color-primary"
                >Bách Hợp</a
              >
            </li>
            <li>
              <a href="#" class="text-sm hover:text-custom-color-primary"
                >Viễn Tưởng</a
              >
            </li>
          </ul>
        </div>
        <div>
          <div class="uppercase text-white">Điều Khoản</div>
          <ul class="pt-2">
            <li>
              <a href="#" class="text-sm hover:text-custom-color-primary"
                >DMCA</a
              >
            </li>
            <li>
              <a href="#" class="text-sm hover:text-custom-color-primary"
                >Liên Hệ</a
              >
            </li>
            <li>
              <a href="#" class="text-sm hover:text-custom-color-primary"
                >Privacy</a
              >
            </li>
            <li>
              <a href="#" class="text-sm hover:text-custom-color-primary"
                >Team Of Service</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="way-line" />
    <div class="text-center py-3 text-sm">
      © 2024 JoyX. All rights reserved.
    </div>
  </div>
</footer>
