<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2
      class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
    >
      ADMIN
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <div>
        <label
          for="email"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Email</label
        >
        <div class="mt-2">
          <input
            id="email"
            formControlName="email"
            type="email"
            autocomplete="email"
            required
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
        <!-- Thông báo lỗi -->
        <div
          *ngIf="
            loginForm.controls['email'].invalid &&
            loginForm.controls['email'].touched
          "
          class="text-red-600 text-sm mt-1"
        >
          <span *ngIf="loginForm.controls['email'].errors?.['required']"
            >Email is required.</span
          >
          <span *ngIf="loginForm.controls['email'].errors?.['email']"
            >Invalid email format.</span
          >
        </div>
      </div>
      <div>
        <div class="flex items-center justify-between">
          <label
            for="password"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Password</label
          >
        </div>
        <div class="mt-2">
          <input
            id="password"
            formControlName="password"
            type="password"
            autocomplete="current-password"
            required
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
        <!-- Thông báo lỗi -->
        <div
          *ngIf="
            loginForm.controls['password'].invalid &&
            loginForm.controls['password'].touched
          "
          class="text-red-600 text-sm mt-1"
        >
          <span *ngIf="loginForm.controls['password'].errors?.['required']"
            >Password is required.</span
          >
          <span *ngIf="loginForm.controls['password'].errors?.['minlength']"
            >Password must be at least 6 characters long.</span
          >
          <span *ngIf="loginForm.controls['password'].errors?.['maxlength']"
            >Password cannot exceed 100 characters.</span
          >
        </div>
      </div>
      <div>
        <button
          type="submit"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Sign in
        </button>
      </div>
    </form>
  </div>
</div>
