@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@tailwind base;

@layer base {
  html {
    @apply text-surface;
    @apply bg-white;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-body-dark;
  }
}

@tailwind components;
@tailwind utilities;

p {
  @apply leading-[1.6];
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@layer components {
  /* hover vào hình ảnh phóng to ra */
  .flicking-camera {
    transform: scale(1.0);
    transition: transform 0.3s ease;
    @apply group-hover:scale-105;
  }
  .way-line {
    @apply w-full h-px my-2 bg-zinc-800;
  }
}